@model Team2Capstone.Models.Event


@using (Html.BeginForm(null, "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-6">Event Name</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Title)</div>
    </div>
    <div class="row">
        <div class="col-md-6">Start Date</div>
        <div class="col-md-6"><input type=date  min=2014-09-08></div>
    </div>
    
    <div class="row">
        <div class="col-md-6">End Date</div>
        <div class="col-md-6"><input type = date min=2015-01-01 /></div>
    </div>
    <div class="row">
        <div class="col-md-6">Start Time</div>
        <div class="col-md-6"><input type=time min=9:00 max=17:00 step=900></div>
    </div>

    <div class="row">
        <div class="col-md-6">End Time</div>
        <div class="col-md-6"><input type=time min=9:00 max=17:00 step=900></div>
    </div>

    <div class="row">
        <div class="col-md-6">Location</div>
        <div class="col-md-6">@Html.TextAreaFor(model => model.Location)</div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Type</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Type_ID)</div>
    </div>
    <div class="row">
        <div class="col-md-6">Description</div>
        <div class="col-md-6">@Html.TextAreaFor(model => model.Description)</div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Logo Graphic</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Logo_Path, new { type = "file" })</div>
    </div>
    
    <div class="row">
        <div class="col-md-6"><button id="CreateEventBtn" type="button" class="btn btn-success">Create Event</button></div>
        <div class="col-md-6"><button id="BackBtn" type ="button" class="btn-warning">Back</button></div>
    </div>
    
    <script>
        $(document).ready(function () {
            $('#CreateEventBtn').click(function () {
                window.location.href = '@Url.Action("Create", "Event")?id=' + '@Model.Id';
            });
        })

        $(documment).ready(function () {
            window.location.href = '@Url.Action("Details")/ ' + '@Model.Id';
        })
    </script>
    
    


            

}
