@model Team2Capstone.Models.Event


@using (Html.BeginForm(null, "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-6">Event Name</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Title)</div>
    </div>
    <div class="row">
        <div class="col-md-6">Event Date</div>
        <div class="col-md-6">@Html.TextBoxFor(model=>model.StartDate)</div>
    </div>
    <div class="row">
        <div class="col-md-6">Start Time</div>
        <div class="col-md-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Time Start
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">End Time</div>
        <div class="col-md-6"></div>
    </div>

    <div class="row">
        <div class="col-md-6">Location</div>
        <div class="col-md-6">@Html.TextAreaFor(model => model.Location)</div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Type</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Type_ID)</div>
    </div>
    <div class="row">
        <div class="col-md-6">Description</div>
        <div class="col-md-6">@Html.TextAreaFor(model => model.Description)</div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Logo Graphic</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Logo_Path, new { type = "file" })</div>
    </div>
    
    <div class="row">
        <div class="col-md-1"><input id="SubmitNewEvent" type="submit" value="Create Event" /></div>
        <div class="col-md-1"><input id = "Back" type = "submit" value = "Back"/></div>
        </div>
}
