@model Team2Capstone.Models.Event


@using (Html.BeginForm(null, "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.TextBoxFor(model => model.Id, new { @hidden = "hidden" })
<div class="well">
    <div class="row">
        <div class="col-md-6" style="left: 25%;">Event Name</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })</div>
    </div>
    <div class="row">
        <div class="col-md-6" style="left: 25%;">Start Date and Time</div>
        <div class="col-md-6">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1' style="margin-left: 1.2em;">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datetime" })
                    @*<span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="left: 25%;">
            End Date and Time
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2' style="margin-left: 1.2em;">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datetime" })
                    @*<span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="left: 25%;">Location</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Location, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-6" style="left: 25%;">Type</div>
        <div class="col-md-6">@Html.DropDownListFor(m => m.Type_ID, new SelectList(ViewBag.TypeList, "ID", "Type1"), new { @class = "form-control" })</div>
    </div>
    <div class="row">
        <div class="col-md-6" style="left: 25%">Description</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Description, new { @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-6" style="left: 25%">Logo Graphic</div>
        <div class="col-md-6">@Html.TextBoxFor(model => model.Logo_Path, new { type = "file", @class = "form-control" })</div>
    </div>

    <div class="row">
        <div class="col-md-2" style="margin-left: 25%"><button id="BackBtn" type="button" class="btn btn-danger">Back</button></div>
        

        <div class="col-md-2" style="margin-left: 9%; padding: .5em;"><button id="SaveBtn" type="submit" class="btn btn-success">Save</button></div>

    </div>
</div>


}

<script>
    $(document).ready(function () {
        $('.datetime').datetimepicker();
        
    });

</script>