@model Team2Capstone.Models.MyEventsViewModel
@{
    ViewBag.Title = "MyEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="jumbotron">
    <h2 style="text-align: center">My Events</h2>
</div>
@Html.Partial("./SideNav")

<div class="well col-sm-10 col-md-10">
        <h3>Owned Events</h3>
    <table>
        <tbody>
            @foreach (var item in Model.OwnedEvents)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <br />
        <h3>Registered Events</h3>

    <table>
        <tbody>
            @foreach (var item in Model.RegisteredEvents)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>