@model Team2Capstone.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Email: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Password: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Confirm Password: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("First Name: ", new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Last Name: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Address 1: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.Address1, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Address 2: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.Address2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("City : ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.City, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("State: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.State, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Zip: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.Zip, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Home Phone: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.PhoneHome, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Cell Phone: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.PhoneCell, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Office Phone: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.PhoneOffice, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Company Name: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.CompanyName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Branch/Location: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.BranchLocation, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Food: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select name="User.FoodID" class="form-control">
                <option value="1">Vegan</option>
                <option value="2">Vegitarian</option>
                <option value="3">Not Vegetarian</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Additional Information: ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User.AdditionalInfo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
