<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/fullcalendar")

</head>
<body>
    @if(Request.IsAuthenticated)
    {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
  
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li></li>
                    <li></li>
                    <li><a href='@Url.Action("Index","Home")'><img style="width: 35%;" src="~/Images/sogeti-logo.png" /></a></li>
                    <li></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    }
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p style="margin-left: 4em !important;">&copy; @DateTime.Now.Year - Sogeti LLC. All Rights Reserved.</p>
        </footer>
    </div>


    
    @RenderSection("scripts", required: false)
</body>
</html>
