@using Team2Capstone.Models;
@model List<Event>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div id="calendar"></div>

<script>
    console.log('@Model')
    $('#calendar').fullCalendar({
        eventClick: function (calEvent, jsEvent, view) {
            alert('event id: ' + calEvent.id);
            alert('Event: ' + calEvent.title);
            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            alert('View: ' + view.name);
            window.location.href = "@Url.Action("Edit", "Event")?id=" + calEvent.id;
        },
        events: [{
            id: '@Model.FirstOrDefault().Id',
            title: '@Model.FirstOrDefault().Title',
            start: '@Model.FirstOrDefault().StartDate',
            end: '@Model.FirstOrDefault().EndDate'
            }]
    });
</script>