@using Team2Capstone.Models;
@model List<Event>
@{
    ViewBag.Title = "Home Page";
}

<br/>
<br />
<br />

<div class="jumbotron" style="text-align: center; overflow: hidden;">
    <div class="col-md-2">
        <img style="width: 80%;" src="http://iconizer.net/files/Vista/orig/calendar.png">
    </div>
    <div class="col-md-10">
    <h2>Welcome to Sogeti Event Manager</h2>
    <p>Find, Create and Manage your events.</p>
    </div>
    
</div>

@Html.Partial("./SideNav")

<div class="col-sm-10 col-md-10">
    <div class="well">
        <div id="calendar" class="col-md-12"></div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-3 col-md-10">

        <!-- Button trigger modal -->
        @*<div class="col-md-8" style="margin-top: 1%;">
                <button style="margin-left: 1.2em;" type="button" data-toggle="modal" data-target="#update-modal" class="btn btn-default">Register</button>
            </div>*@
        <!-- Modal -->
        <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="update-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        @*@Html.Partial("Register", Model.RegisterViewModel)*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#CreateEvent').click(function () {
            window.location.href = '@Url.Action("Create", "Event")';
        });

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month, basicWeek, basicDay'
            },
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = "@Url.Action("Details", "Event")?id=" + calEvent.id;
            },
        });

        @foreach (var item in Model.ToList())
        {
            @: var event = {
                @:id:  "@item.Id",
                @:title: "@item.Title",
                @:start: "@item.StartDate",
                @:end: "@item.EndDate"};
            @:$('#calendar').fullCalendar( 'renderEvent', event );

        }
    });
    
</script>

