@using Team2Capstone.Models;
@model List<Event>
@{
    ViewBag.Title = "Home Page";
}

<br/>

<button id="CreateEvent" class="btn btn-success">Create Event</button>
<br />
<br />
<div id="calendar"></div>

<script>
    $(document).ready(function () {
        $('#CreateEvent').click(function () {
            window.location.href = '@Url.Action("Create", "Event")';
        });

        $('#calendar').fullCalendar({
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = "@Url.Action("Details", "Event")?id=" + calEvent.id;
            },
        });

        @foreach (var item in Model.ToList())
        {
            @: var event = {
                @:id:  "@item.Id",
                @:title: "@item.Title",
                @:start: "@item.StartDate",
                @:end: "@item.EndDate"};
            @:$('#calendar').fullCalendar( 'renderEvent', event );

        }
    });
    
</script>

