@using Team2Capstone.Models;
@model List<Event>
@{
    ViewBag.Title = "Home Page";
}

<br/>

<button id="CreateEvent" class="btn btn-success">Create Event</button>
<br />
<br />
<div id="calendar"></div>

<script>
    $(document).ready(function () {
        $('#CreateEvent').click(function () {
            window.location.href = '@Url.Action("Create", "Event")';
        });
        console.log('@Model')
        $('#calendar').fullCalendar({
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = "@Url.Action("Details", "Event")?id=" + calEvent.id;
            },
            events: [{
                id: '@Model.FirstOrDefault().Id',
                title: '@Model.FirstOrDefault().Title',
                start: '@Model.FirstOrDefault().StartDate',
                end: '@Model.FirstOrDefault().EndDate'
            }]
        });
    })
    

</script>

